.chosenSessionBox {
    display: flex;
    justify-content: center;
}

.chosenSessionContainer {
    display: grid;
    justify-content: center;
    cursor: pointer;
    font-size: large;
    height: 15rem;
    padding: 0.5rem;
    margin-top: 2rem;

}
.chosenSessionSmallerBox{
    border: solid 0.1rem;
    width: 30rem;
}

.chosenSessionHeader {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
}
.chosenSessionBtnDeleteBox{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
    
}
.chosenSessionBtn{
   cursor: pointer; 
}
.chosenSessionBtnBack {
    margin-bottom: 2rem;
    cursor: pointer;
}
.chosenSessionBtnBackBox{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 0.5rem;
}

.chosenSessionSlide {
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
}