body {
    background-color: rgb(69, 69, 69);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    overflow-x: hidden;
}
.navBar-wrap {
    display: flex;
    justify-content: center;
}

.navBar {
    background-color: rgb(238, 238, 238);
    width: 95%;
    height: 4rem;
    margin-top: 2rem;
    border: 0.15rem solid rgb(113, 113, 113);
    display: flex;
    align-items: center;
    border-radius: 1rem;
}

.navButtonHolder>button {
    width: 7rem;
    height: 2rem;
    margin-right: 3rem;
    color: rgb(0, 151, 167);
    font-size: 1.4rem;
}

.navButtonHolder {
    width: 35rem;
    margin-left: 3rem;
}

.progressBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-right: 4rem;
}

.beltLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 3rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(108, 108, 108);
    font-weight: bolder;
}

.progressBar {
    height: 100%;
    background-color: rgb(106, 168, 79);
}

.progressBarBackground {
    height: 1.5rem;
    width: 16rem;
    border: 0.15rem solid rgb(108, 108, 108);
}

.progressBarText {
    width: 5rem;
    color: rgb(89, 89, 89);
}

.nav-buttons {
    border-radius: 0.82rem;
    border: 1.2px solid rgba(0, 0, 0, 0.363);

}

.nav-buttons:hover {
    cursor: pointer;
    filter: brightness(90%);
}