.addVideoBlur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoSelContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 194, 194);
    height: 50rem;
    width: 90rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 60px 30px hsla(0, 0%, 0%, 0.162);
}

.selVideoFilter {
    align-self: center;
    display: flex;
    margin-top: 3%;
    height: auto;
    width: 50rem;
    border: 0.11rem hsla(0, 0%, 0%, 0.281) solid;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}

.sortIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.sortIcon:hover {
    scale: 1.1;
}

.sortIconFlipped {
    transform: scaleY(-1);
}

.selVideoFilter>p {
    display: flex;
    align-content: center;
}

.vidPreview {
    width: 100%;
    cursor: pointer;
}

.vidPreviewFooter {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.vidPreviewWrapper {
    width: 25rem;
    height: 18.8rem;
    position: relative;
    font-size: 80%;
}

.vidPreviewWrapper>video {
    border-radius: 0.4rem;
}


.vidPreviewWrapper:hover {
    outline: 0.2rem solid black;
    border-radius: 0.4rem;
}

.vidPreviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 1%;
    gap: 4%;
}

#teknikKategori {
    border: none;
    background-color: none;

}

.selectVidPageContainer {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-self: center;
    height: 13rem;
}

.vidPageGoLeft {
    transform: scaleX(-1);
    width: 1.5rem;
    height: 1.5rem;

}

.vidPageGoRight {
    width: 1.5rem;
    height: 1.5rem;

}

.currentVidSelPage {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    scale: 1.5;

}

.vidPageGoRight:hover {
    scale: 1.2;

}

.vidPageGoLeft:hover {
    scale: 1.2;

}

.chosenVideoPreviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 21.6rem;
    height: 15.3rem;
}

.createVideoPreviewBtn {
    border-radius: 10%;
    cursor: pointer;
}

.selectedVidWrapper {
    width: 20rem;
    height: 15rem;
    position: relative;
    font-size: 65%;
    scale: 0.95;
}

.selectedVidWrapper:hover {
    outline: 0.2rem solid rgb(94, 9, 9);
    border-radius: 0.4rem;
}

.selectedVidFooter {
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.selectedVideo {
    border-radius: 0.4rem;
}

.createVideoPreviewBtn {
    margin-bottom: -0.1rem;
    margin-right: 10rem;
    cursor: pointer;
    border-radius: 11px;
    border: 0.5rem;
    scale: 1.3;
    padding: 0.5rem;
}

.createVideoPreviewBtn:hover {
    scale: 1.2;
    background-color: rgba(0, 0, 0, 0.1);
}

.selectVidPage-darkmode {
    background-color: rgb(65, 65, 65);
    color: black;
}

.selectVidPage-lightmode {
    background-color: rgb(194, 194, 194);
}

.selectVidPageFilter-darkmode {
    color: rgb(204, 204, 204);
}

.selectVidPageFilter-lightmode {
    color: black;
}

.createSessionPage-darkmode {
    background-color: rgb(65, 65, 65);
    color: rgb(204, 204, 204);
}

.createSessionPage-lightmode {
    background-color: rgb(194, 194, 194);
    color: black
}