.sessionViewBox {
    display: flex;
    justify-content: center;
    border: solid 0.1rem;
    width: 20rem;
    padding: 2rem;
}

.sessionViewContainer {
    display: grid;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    font-size: large;
}

.sessionViewHeader {
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: -3rem;
}

.sessionViewBtn {
    margin-bottom: -2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.sessionViewBtnBox {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 2rem;
}