body {
    background-color: rgb(69, 69, 69);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.navBar {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    border: 0.15rem solid rgb(113, 113, 113);

    display: flex;
    align-items: center;
}

.navButtonHolder>button {
    width: 7rem;
    height: 2rem;
    margin-right: 3rem;
    color: rgb(0, 151, 167);
    font-size: 1.4rem;
}

.navButtonHolder {
    width: 35rem;
    margin-left: 3rem;
}

.progressBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-right: 4rem;
}

.beltLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;

    background-color: rgb(74, 134, 232);
    width: 3rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(108, 108, 108);
}

.progressBar {
    height: 100%;
    width: 50%;
    background-color: rgb(106, 168, 79);
}

.progressBarBackground {
    height: 1.5rem;
    width: 16rem;
    border: 0.15rem solid rgb(108, 108, 108);
}

.progressBarText {
    width: 5rem;
    color: rgb(89, 89, 89);
}

.beltContainerMain {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    font-weight: bold;
}

.beltBoxMain {
    height: 1rem;
    border: solid 0.2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.yellowBelt {
    color: rgb(201, 172, 8);
    background-color: rgb(255, 242, 170);
}

.orangeBelt {
    color: rgb(255, 157, 0);
    background-color: rgb(255, 226, 181);
}

.greenBelt {
    color: rgb(44, 174, 44);
    background-color: rgb(175, 233, 175);
}

.blueBelt {
    color: rgb(0, 136, 255);
    background-color: rgb(176, 216, 252);
}

.brownBelt {
    color: rgb(165, 99, 42);
    background-color: rgb(214, 180, 150);
}

.technique-redirect {
    color: currentColor;
    filter: brightness(115%);
    animation: fadeIn 0.3s;

}

.selectedBelt {
    height: auto;
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.techniqueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.sessionViewBox {
    display: flex;
    justify-content: center;
    border: solid 0.1rem;
    width: 20rem;
    padding: 2rem;
}

.sessionViewContainer {
    display: grid;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    font-size: large;
}

.sessionViewHeader {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
}

.sessionViewBtn {
    margin-left: 58.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.centerElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createSessionWrapper {
    background-color: rgb(238, 238, 238);
    height: auto;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createSessionInputContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.createSessionInputDiv {
    display: flex;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

.createSessionInputDiv>button {
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
}


.createSessionAddVideoContainer {
    display: flex;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

.createSessionAddVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid black;
}

.createSessionTittle {
    display: flex;
    justify-content: start;
    margin: 2rem;
    gap: 1rem;
}