body {
    background-color: rgb(69, 69, 69);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
}

.navBar {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    border: 0.15rem solid rgb(113, 113, 113);

    display: flex;
    align-items: center;
}

.navButtonHolder>button {
    width: 7rem;
    height: 2rem;
    margin-right: 3rem;
    color: rgb(0, 151, 167);
    font-size: 1.4rem;
}

.navButtonHolder {
    width: 35rem;
    margin-left: 3rem;
}

.progressBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-right: 4rem;
}

.beltLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;

    background-color: rgb(74, 134, 232);
    width: 3rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgb(108, 108, 108);
}

.progressBar {
    height: 100%;
    width: 50%;
    background-color: rgb(106, 168, 79);
}

.progressBarBackground {
    height: 1.5rem;
    width: 16rem;
    border: 0.15rem solid rgb(108, 108, 108);
}

.progressBarText {
    width: 5rem;
    color: rgb(89, 89, 89);
}

.beltContainerMain {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;

}

.beltBoxMain {
    height: 13rem;
    border: solid 0.2rem;
    padding: 1rem;
    cursor: pointer;
    scale: 1.3;


}

.yellowBelt {
    color: rgb(201, 172, 8);
    background-color: rgb(255, 242, 170);
}

.orangeBelt {
    color: rgb(255, 157, 0);
    background-color: rgb(255, 226, 181);
}

.greenBelt {
    color: rgb(44, 174, 44);
    background-color: rgb(175, 233, 175);
}

.blueBelt {
    color: rgb(0, 136, 255);
    background-color: rgb(176, 216, 252);
}

.brownBelt {
    color: rgb(165, 99, 42);
    background-color: rgb(214, 180, 150);
}

.tech-redirect-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.technique-redirect {
    color: currentColor;
    filter: brightness(115%);
    animation: fadeIn 0.3s;
    width: 3rem;

}


@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


.techniqueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    border: 4px solid black;
    background-color: rgb(160, 94, 94);
    border-radius: 3%;
    font-size: larger;
    cursor: pointer;



}

.sessionViewBox {
    display: flex;
    justify-content: center;
    border: solid 0.1rem;
    width: 20rem;
    padding: 2rem;
}

.sessionViewContainer {
    display: grid;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    font-size: large;
}

.sessionViewHeader {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
}

.sessionViewBtn {
    margin-left: 58.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.chosenSessionBox {
    display: flex;
    justify-content: center;
}

.chosenSessionContainer {
    display: grid;
    justify-content: center;
    cursor: pointer;
    font-size: large;
    border: solid 0.1rem;
    width: 30rem;
    height: 15rem;
    padding: 0.5rem;
    margin-left: 32rem;
    margin-top: 2rem;

}

.chosenSessionHeader {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
}

.chosenSessionBtn {
    margin-left: 58.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.chosenSessionBtnBack {
    position: absolute;
    margin-bottom: 2rem;
    cursor: pointer;
}

.chosenSessionSlide {
    width: 8rem;
    height: 2rem;
    margin-left: 1rem;
}

.centerElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createSessionWrapper {
    background-color: rgb(238, 238, 238);
    width: auto;
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createSessionInputContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.createSessionInputDiv {
    display: flex;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
}

.createSessionInputDiv>button {
    width: 10rem;
    height: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    background-color: rgb(183, 183, 183);
    color: rgb(0, 151, 171);
}

.createSessionInputDiv>button:hover {
    background-color: hsl(0, 0%, 80%);
}


.createSessionAddVideoContainer {
    display: flex;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    cursor: pointer;
}

.createSessionAddVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid black;
    color: rgb(0, 151, 171);
    font-size: 1.3rem;
}

.createSessionTittle {
    display: flex;
    justify-content: start;
    margin: 2rem;
    gap: 1rem;
}

.addVideoBlur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.videoSelContainer {
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
    height: 50rem;
    width: 90rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 60px 30px hsla(0, 0%, 0%, 0.162);


}

.selVideoFilter {
    align-self: center;
    display: flex;
    margin-top: 2%;
    height: auto;
    width: 500px;
    border: 1px hsla(0, 0%, 0%, 0.281) solid;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}

.sortIcon {
    width: 1.5rem;
    height: 1.5rem;

}

.sortIcon:hover {
    scale: 1.1;

}

p {
    display: flex;
    align-content: center;
}

.vidPreview {
    height: 80%;
    cursor: pointer;
}

.vidPreviewFooter {
    background-color: black;
}

.vidPreviewWrapper {
    width: 25rem;
    height: 20rem;
}

.vidPreviewWrapper:hover {
    outline: 0.15rem solid black;
    border-radius: 0.4rem;
}

.vidPreviewContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#teknikKategori {
    border: none;
    background-color: none;

}

.selectVidPageContainer {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-self: center;

}

.vidPageGoLeft {
    transform: scaleX(-1);
    width: 1.5rem;
    height: 1.5rem;

}

.vidPageGoRight {
    width: 1.5rem;
    height: 1.5rem;

}

.currentVidSelPage {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    scale: 1.5;

}

.vidPageGoRight:hover {
    scale: 1.2;

}

.vidPageGoLeft:hover {
    scale: 1.2;

}

.chosenVideoPreviewContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 21.2rem;
    height: 15.3rem;
}