
/*.tech-redirect-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.technique-redirect {
    color: currentColor;
    filter: brightness(115%);
    animation: fadeIn 0.3s;
    width: 3rem;

}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}*/

.techHeader{
    display: flex;
    justify-content: center; 
    padding: 0.5rem;
    font-weight: lighter;
}

.techniqueContainer {
    display:inline-block;
    align-items: center;
    margin-left: 18%;
    margin-top: 5rem;
    border: solid 0.2rem;
    border-radius: 0.3rem;
}

.techBox{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem;
    width: 20rem;
    background-color: rgb(173, 161, 161);
    font-size: larger;
    cursor: pointer;
}