/*.technique-redirect {
    color: currentColor;
    filter: brightness(115%);
    animation: fadeIn 0.3s;
    width: 3rem;

}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

*/
.techHeader {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.5rem;

}

.techniqueContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}

.techniqueBox {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: solid 0.2rem;
    padding: 1rem;
}

.techBox {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.technique-redirect {
    color: currentColor;
    filter: brightness(115%);
    font-weight: normal;
}


.tech-redirect-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

}